.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/img/background.jpg');
  /* min-height: 680px; */
}

.game-board{
  margin-bottom: 100px;
  margin-top: 15px;
}


.play-again-button{
  margin-bottom: 300px;
}

.game-over-splash{
  display: none;
}

.score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-new{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.instructions{
  width: 275px;
  word-wrap: normal;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.new-game-button, .play-again-button{
  margin: 20px 10px;
  border:1px solid black;
  border-radius: 2px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: lightgrey;
  padding: 5px 10px;
  font-size: 16px;
}

.new-game-button:hover, .play-again-button:hover{
  cursor: pointer;
  background-color: darkgrey;
  color: ghostwhite;
}

.header{
  width: 500px;
}

.title-score{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-title, .game-over{
  font-family: 'Monoton', cursive;
  /* font-weight: 700; */
  font-size: 36px;
  color: white;

}

.score-label{
  font-family: 'Limelight', cursive;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;

}

.splash-score{
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}


.score, #final-score{
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#final-score{
  line-height: 40px;
}

.score{
  /* margin-top: 15px; */
}

.shown{
  animation: 250ms fadeIn linear;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background-color: rgba(69, 67, 70,0.7);
  position: absolute;
  top:219px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: all 2s linear; */
}

@keyframes fadeIn {

  from {
  transform: scale(0);
  }


  to {
  transform: scale(1);
  }
}
