.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: forestgreen;
  min-height: 680px;
}


.play-again-button{
  margin-bottom: 300px;
}

.game-over-splash{
  display: none;
  /* width:500px; */
  /* height: 500px; */
}

.shown{
  animation: 250ms fadeIn linear;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background-color: rgba(69, 136, 52,0.7);
  position: absolute;
  top:95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: all 2s linear; */
}

@keyframes fadeIn {

  from {
  transform: scale(0);
  background-color: rgba(69, 136, 52, 0.7)
  }


  to {
  transform: scale(1);
  background-color: rgba(69, 136, 52, 0.7)
  }
}
